doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Breaking Blocks.

    // JS
    script(src="./index.js" type="text/javascript" before)

    // CSS
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css")
  body.bg-black
    main.container.bg-white
      h1 Breaking Blocks.
      p こんにちは
      
