doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Breaking Blocks.

    // JS
    script(src="./index.js" type="text/javascript" before)

    // CSS
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css")
  body#breaking-blocks.bg-black
    main
      button.btn-pause.js-game.js-pause
        .flex.justify-center.items-center.flex-col
          .pause-mark.flex.justify-around
            span
            span
          p.inline-block PAUSE
      .wrap
        .block-cmn.js-game
          .box-hold
            .box-inner
          .box-score.mt-auto
            .box-inner
              p 0
        .frame
          .frame-inner
            section#start.inner.js-start
              h1.ttl
                span.block
                  span.text-red B
                  span.text-green R
                  span.text-orange E
                  span.text-purple A
                  span.text-blue K
                  span.text-lightBlue I
                  span.text-yellow N
                  span.text-red G
                span.block
                  span.text-green B
                  span.text-orange L
                  span.text-purple O
                  span.text-blue C
                  span.text-lightBlue K
                  span.text-yellow S
              button.btn-start.js-btn-start START
            section#game.inner.js-game
              canvas#block-parts.relative.w-full.z-50
        .block-cmn.js-game
          .box-next.mt-8
            .box-inner
          .box-next02.mt-4
            .box-inner
          .box-next03.mt-4
            .box-inner
          .box-timer.mt-4
            p.js-timer
          .box-controller.js-game
            button.btn-control.btn-top.js-top ▲
            button.btn-control.btn-right.js-right ▶︎
            button.btn-control.btn-down.js-down ▼
            bottun.btn-control.btn-left.js-left ◀︎

      fotter
        p.text-white.text-center
          small &copy;Ayami Miyazaki 2024