@charset 'utf-8';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Silkscreen:wght@400;700&display=swap');

@layer components {
  .bg-red-600 {
    background-color: #dc2626;
  }
}

/*
*
* Breaking Blocks.
* Style
*
*/
html, body{
  @apply font-sans text-base font-bold leading-5 tracking-wide;
}
a, button{
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}

main{
  @apply fixed max-w-3xl container mx-auto h-full top-0 bottom-0 left-0 right-0 overflow-hidden z-0;
}

.wrap{
  height: 93.7vh;
  @apply flex justify-between items-start;
}
/* main frame */
.frame{
  height: 94%;
  background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
  @apply absolute max-w-sm w-1/2 mx-auto p-1 top-0 bottom-0 left-0 right-0 m-auto;
}
.frame-inner{
  @apply relative w-full h-full bg-slate-900 flex align-middle justify-center flex-col p-4;
  &::after{
    content: "";
    @apply absolute w-full h-full top-0 left-0 bottom-0 my-auto;
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f025 calc(100% - 1px)),
                      linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f025 calc(100% - 1px));
    background-size: 20px 20px;
    background-repeat: repeat;
    background-position: center center;
  }
}
.block-cmn{
  width: 22%;
  @apply h-full flex flex-col items-center;
}
[class^="box-"],
[class*="box-"]{
  font-family: "Silkscreen", sans-serif;
  @apply relative w-full h-32 rounded-md top-8 text-4xl text-white;
  &::after{
    border-radius: 0.375rem 0 0.375rem;
    @apply absolute text-white text-base py-1 px-4 z-10;
  }
  .box-inner{
    width: calc(100% - .5rem);
    height: calc(100% - .5rem);
    background: linear-gradient(to right, rgb(32, 45, 76) 50%, rgba(15, 23, 42, 1) 100%);
    @apply absolute top-0 bottom-0 right-0 left-0 m-auto;
  }
}
.box-{
  &hold{
    @apply top-8;
    background: linear-gradient(90deg, #fe0940, #db002f);
    &::after{
      content: "HOLD";
      background: linear-gradient(90deg, #fe0940, #db002f);
    }
  }
  &score{
    background: linear-gradient(90deg, #fe0940, #db002f);
    @apply h-24;
    &::after{
      content: "SCORE";
      background: linear-gradient(90deg, #fe0940, #db002f);
    }
    .box-inner{
      @apply flex items-end justify-end;
      p{
        @apply pr-2 pb-2;
      }
    }
  }
  &next{
    background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
    &::after{
      content: "NEXT";
      background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
    }
  }
  &next02,
  &next03{
    background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
    @apply h-24;
  }
  &timer{
    @apply text-center;
  }
  &controller{
    width: 22%;
    padding-top: 22%;
    @apply absolute h-0 text-base bottom-16 mt-auto;
    &::after{
      @apply hidden;
    }
    .btn-control{
      @apply absolute w-16 h-16 flex justify-center items-center rounded-full bg-slate-900 text-white z-10;
      background: linear-gradient(135deg, white 0%, white 22%, #ddd 44%, #a5a5a5 52%, black 100%);
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    }
    .btn-{
      &top{
        @apply top-0 left-0 right-0 mx-auto;
      }
      &right{
        @apply top-0 bottom-0 right-0 my-auto;
      }
      &down{
        @apply left-0 right-0 bottom-0 mx-auto;
      }
      &left{
        @apply left-0 top-0 bottom-0 my-auto;
      }
    }
  }
}
.btn-pause{
  @apply absolute w-10 h-10 top-4 right-3;
  .pause-mark{
    @apply w-6;
    span{
      @apply inline-block w-2 h-6 bg-white;
    }
  }
  p{
    @apply text-xs text-white;
  }
}

/* ++++++++++++++++++++
*        Start        *
++++++++++++++++++++ */
#start{
  &.inner{
    @apply relative flex justify-center align-middle flex-col z-50;
  }
  .btn-start{
    box-shadow: 0 5px 0 #980112;
    @apply inline-block max-w-80 w-full mx-auto rounded-full text-2xl text-center px-1 py-2 bg-red-600 text-white;
    &:active{
      box-shadow: none;
      transform: translateY(5px);
    }
  }
  .ttl{
    font-family: "Silkscreen", sans-serif;
    font-size: 4rem;
    line-height: 3.5rem;
    letter-spacing: -.7rem;
    font-weight: 700;
    text-shadow: 0 -1px 1px white, 1px 1px 1px black;
    @apply font-bold text-center mb-10;
    span{
      @apply inline-block;
      &.text-{
        @apply inline-block;
        &red{
          -webkit-text-stroke: 2px #af0026;
          text-stroke: 2px #af0026;
        }
        &green{
          -webkit-text-stroke: 2px #00a803;
          text-stroke: 2px #00a803;
        }
        &orange{
          -webkit-text-stroke: 2px #cf5a00;
          text-stroke: 2px #cf5a00;
        }
        &purple{
          -webkit-text-stroke: 2px #9b00c2;
          text-stroke: 2px #9b00c2;
        }
        &blue{
          -webkit-text-stroke: 2px #00a1ba;
          text-stroke: 2px #00a1ba;
        }
        &yellow{
          -webkit-text-stroke: 2px #c9a500;
          text-stroke: 2px #c9a500;
        }
      }
    }
  }
}


/* ++++++++++++++++++++
*       Fotter        *
++++++++++++++++++++ */
fotter{
  @apply absolute left-0 right-0 bottom-1 mx-auto font-normal;
}
